.board {
  display: grid;
  grid-template-columns: repeat(3, 4.8rem);
  place-items: center;
  justify-content: center;
  }
  
  
  
  .highlighted-box2 {
  background-color: rgb(222, 159, 149);
  }
  
  .highlighted-box3 {
    background-color: rgb(122, 199, 215);
  }
  